﻿body {
    font-family: Garamond;
    font-size:12px;
}

@media (min-width: 1200px) {
    .container {
        width: 45%;
    }
}

.container {
    -webkit-box-shadow: 2px -1px 270px 100px rgba(214,225,234,1);
    -moz-box-shadow: 2px -1px 270px 100px rgba(214,225,234,1);
    box-shadow: 2px -1px 270px 100px rgba(214,225,234,1);
    padding: 0;
}

.container > .col-lg-12 {
   padding: 0;
}

p {
    margin: 0;
    font-size: 13px;
}

h2 {
    font-size: 28px;
    padding:0px;
    margin:0;
}

h3 {
    font-size: 20px;
    margin:0;
}

h4 {
    font-size: 20px;
    padding:20px 20px 15px 20px;
    margin:0;
}

h5 {
    font-size:20px;
    color:white;
}

.logo {
    margin-top:25px;
}

header {
    width: 100%;
    padding: 20px 20px 0 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111213+0,111213+0,111213+0,111213+0,111213+0,111213+0,111213+0,111213+0,111213+0,111213+47,2d2e2f+65 */
    background: #111213; /* Old browsers */
    background: -moz-linear-gradient(45deg, #111213 0%, #111213 0%, #111213 0%, #111213 0%, #111213 0%, #111213 0%, #111213 0%, #111213 0%, #111213 0%, #111213 47%, #2d2e2f 65%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 47%,#2d2e2f 65%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 0%,#111213 47%,#2d2e2f 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111213', endColorstr='#2d2e2f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.searchBox {
    border-radius: 25px;
    padding-left: 50px;
    height: 20px;
    width:150px;
}

.searchContainer {
    position: relative;
    padding-bottom:10px;
    padding-top:10px;
}

.searckIkon {
    position: absolute;
    left: 22px;
    font-size: 15px;
}

#myNavbar {
    float:right;
}

.navbar-inverse {
    background:none;
    border:none;
}

.navbar-nav > li > a {
    padding: 0;
    line-height: none;
}

.nav>li>a {
    padding-right:8px;
    float:right;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    float: left;
}

li a {
   display: block; 
   color: #ffffff;
   font-size: 11px;
   margin-top: 10px;
   text-decoration: none;
}

#box {
    padding: 5px;
    font-weight: bold;
}

.sliderImg {
    max-width: 100%;
}

#backbar {
    padding: 20px;
    background: #111213;
    color: #a3a3a3;
}

.section {
    padding:20px 0 20px 0;
}

.ikoner {
    margin-left:50px;
}

.content {
    background: #fff;
    float: left;
    width: 100%;
}

.post {
    padding: 20px 20px 20px 10px;
    float:left;
}

.TextContainer {
    padding-left:50px;
}

.postTxt {
    font-size:12px;
}

.ImgFrame {
    border: 5px solid #e9e9e9; 
}


.dateText {
    color:#2c83b0;
    font-size:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.btnPost {
    width: 35%;
    background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,72c2ff+0,4783a1+100 */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(114,194,255,1) 0%, rgba(71,131,161,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(114,194,255,1) 0%,rgba(71,131,161,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(114,194,255,1) 0%,rgba(71,131,161,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#4783a1',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    margin-top: 10px;
}

.sidebar {
    background: background: rgba(231,231,231,1);
    background: -moz-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 23%, rgba(231,231,231,1) 46%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,231,231,1)), color-stop(23%, rgba(231,231,231,1)), color-stop(46%, rgba(231,231,231,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 23%, rgba(231,231,231,1) 46%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 23%, rgba(231,231,231,1) 46%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 23%, rgba(231,231,231,1) 46%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 23%, rgba(231,231,231,1) 46%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff', GradientType=0 );
    width: 100%;
    height: 100%;
    margin-left: 15px;
    padding: 0 20px 20px 20px;
}

.sidebar p {
    padding-left:20px;
}

.sidebar a {
    padding-left:20px;
}

.pagination li {
    padding-right:5px;
    font-family:Arial;
}

.pagination li a {
    color:#9a9aa4;
    background:#eeeeee;
}

.pagination>.active>a {
    background:#c1c1c1;
    border-color:#c1c1c1;
}

.pagContainer {
    float:left;
    margin-left:30px;
}

.sponsorContainer {
    margin:0 20px 20px 20px; 
}

div.sponsorContainer img {
    border: 5px solid #f6f6f6;  
    margin-top:10px;
    margin-right:10px;
}

.footer {
    background:#0f0f0f;
    padding:40px;
    float:left;
    margin-top:30px;
}

div.row.footerRow {
    padding:10px;
}

.footerImgs {
    margin-left:30px;
}
.footerImg {
    border: 1px solid #333333;
  
    max-width:100%;
}
.sponsorImg{
    max-width:100%;
}

.footerIkoner {
    margin-top:20px;
}

.footerRowContact {
    margin-left:20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.ikonContainer img{
    max-width:100%;
}

.ikonContainer .col-lg-2 {
    padding: 0;
    padding-right: 2px;
}

.footerImgs .col-lg-4 {
    padding: 3px;
}